APP_NAME="ERP RoadToTP"
APP_ENV=local
APP_KEY=base64:GwEtV8h1XcRzwFor2lDPxnwUhGlElbJXHQy3YYt22+I=
APP_DEBUG=true
APP_TIMEZONE=Europe/Paris
APP_URL=http://localhost

APP_LOCALE=fr
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=erp_roadtotp
DB_USERNAME=erp_user
DB_PASSWORD=erp_password

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=mailserver
MAIL_PORT=587
MAIL_USERNAME=contact@mondomaine.com
MAIL_PASSWORD=votre_mot_de_passe
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="contact@mondomaine.com"
MAIL_FROM_NAME="${APP_NAME}"

FRONTEND_URL=http://localhost:5173

SANCTUM_STATEFUL_DOMAINS=localhost:5173,127.0.0.1:5173,localhost
CACHE_DRIVER=memcached
MEMCACHED_HOST=memcached

# URL interne au réseau Docker pour joindre Ollama
OLLAMA_BASE_URL=http://erp-ollama:11434
OLLAMA_MODEL=qwen2.5:3b-instruct

# Si vous voulez que le modèle appelle une API interne de votre propre ERP
INTERNAL_API_URL=http://erp-nginx/api

L5_SWAGGER_GENERATE_ALWAYS=false
# On force Swagger à ne regarder QUE les dossiers où il y a vos annotations
SWAGGER_ANNOTATIONS_PATHS="/var/www/html/app/Http/Controllers/Api"